body {
	background-color: #fff;
	color: #434455;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
/* Header */
.header {
}
.navigation {
}
.head-logo {
	color: #4d5ae5;
	font-family: 'Raleway', ans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.logo-studio {
	color: #2e2f42;
}
.page-nav {
	color: #2e2f42;
}
.page-nav .link:hover {
	color: #404bbf;
}
.address {
	color: #434455;
}
.address .link:hover {
	color: #404bbf;
}
/* section 1 */
.section-top {
	background-color: #2e2f42;
}
.title-top {
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 1.12px;
}
/* footer */
.footer {
	background-color: #2e2f42;
}
a {
	color: #2e2f42;
}

h1 {
	color: #ffffff;
}
h2 {
	color: #2e2f42;
}
h3 {
	color: #2e2f42;
}
.footer {
	background-color: #2e2f42;
	color: #f4f4fd;
}
