body {
	background-color: #fff;
	color: #434455;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
/* Header */

.head-logo {
	color: #4d5ae5;
	font-family: Raleway, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.logo-studio {
	color: #2e2f42;
	font-family: Raleway, sans-serif;
}
.link-nav {
	color: #2e2f42;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.link-nav:hover {
	color: #404bbf;
}
.link-nav:focus {
	color: #404bbf;
}
.address {
	font-style: normal;
}
.link-address {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.link-address:hover {
	color: #404bbf;
}
.link-address:focus {
	color: #404bbf;
}
/* section 1 */
.section-top {
	background-color: #2e2f42;
}
.title-top {
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 1.12px;
	text-align: center;
}
.title-button {
	background-color: #4d5ae5;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
}
.title-button:hover {
	background-color: #404bbf;
}
.title-button:focus {
	background-color: #404bbf;
}
/* section 2 */
.feature-head {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.feature-list {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
/* footer */
.footer {
	background-color: #2e2f42;
}
a {
	color: #2e2f42;
}

h1 {
	color: #ffffff;
}
h2 {
	color: #2e2f42;
}
h3 {
	color: #2e2f42;
}
.footer {
	background-color: #2e2f42;
	color: #f4f4fd;
}

.logo-bot {
	color: #f4f4fd;
	font-family: Raleway, sans-serif;
}
.footer-list {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
}
